<div class="container portfolio-container">
    <div class="row">
        <div class="col-md-7">
        <%#image_tag @portfolios_items.main_image %>
         <%# image_tag portfolio_img(@portfolio_item.thumb_image, 'main'), width: '100%' %>
        </div>
            <div class="col-md-5">
            <h3><%= @portfolios_items.title %></h3>
            <hr class="bg-white">
               <em><%= @portfolios_items.subtitle %></em>
            <p><%= @portfolios_items.body %></p>
            <hr class="bg-white">
             <h2>Technologies Used</h2>
            <% @portfolios_items.technologies.each do |tech|%>
                <p><%= tech.name %> </p>
             <% end %>
             <hr class="bg-white">
        </div>
    </div>
</div>
<%# params[:action]%>
<%# Portfolio.find(params[:id]).title%>
<%# Portfolio.find(params[:id]).subtitle%>
<%# Portfolio.find(params[:id]).body%>