<%# start of footer  %>
  <footer class="blog-footer text-center">
    <h5>Copyright <i class="far fa-copyright fa-sm"></i> Cosmel Villalobos 2021</h5>
    <p>
      <a href="#">Back to top</a>
    </p>
  </footer>
<%# end of footer %>