    
    <%# start of footer %>
    <footer class="text-muted">
      <div class="container text-center">
        <p class="float-right">
        <%= link_to 'View All Portfolio Itesm',portfolios_path %> / 
        <a href="#">Back to top</a>
        </p><h5>Copyright <i class="far fa-copyright fa-sm"></i> Cosmel Villalobos 2021</h5>
      </div>
    </footer>
    <%# end of footer %>