    
    <%# start of footer %>
    <footer class="text-muted">
      <div class="container text-center text-warning">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p><h5>Copyright <i class="far fa-copyright fa-sm"></i> Cosmel Villalobos 2021</h5>
      </div>
    </footer>
    <%# end of footer %>