<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1>My Portfolio</h1>
      <p class="lead text-muted">This are the projects I have worked on</p>
      <p>
        <%= link_to 'Find Out More About Me', about_me_path,class:"btn btn-primary" %>
        <%= link_to 'My Blog', blogs_path,class:"btn btn-secondary" %>
      </p>
    </div>
  </section>
</main>