<main role="main" class="inner cover">
  <h1 class="cover-heading">Contact Me</h1>
  <p class="lead"> Let's connect</p>
  <p class="lead">
  
    <a href="https://github.com/cvilla714"><i class="fab fa-github fa-2x mx-3"></i></a>
    <a href="https://www.linkedin.com/in/cosvilla/"><i class="fab fa-linkedin fa-2x mx-3"></i>
    <a href="https://twitter.com/kckeyti"><i class="fab fa-twitter fa-2x mx-3"></i>

  </p>
</main>

