<main role="main" class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">I am a full stack developer who is passionate about learning new programs, techniques, and put it all to the test</p>
  <p class="lead">
    <%= link_to 'About Me',about_me_path,class:"btn btn-lg btn-secondary" %>

  </p>
</main>

