<div class="col blog-main">
  <h3 class="pb-4 mb-4 font-italic border-bottom">
    <strong>name:</strong>
    <%= @technology.inspect %>
    
    <h2>
    <strong>portfolio_id:</strong>
    <%= @technology.inspect%>
</h2>

  </h3>
  
  <%# link_to 'Edit', edit_technology_path(@technology) if logged_in?(:site_admin) %> |
  <%# link_to 'Back', technologies_path %>
  </div><!-- /.blog-main -->
<br>

