<p id='notice'><%= notice %></p>
<div class="col blog-main">
  <h3 class="pb-4 mb-4 font-italic border-bottom">
    <strong>name:</strong>
    <%= @technology %>
    
    <h2>
    <strong>portfolio_id:</strong>
    <%= @technology%>
</h2>
</h3>
  
  </div><!-- /.blog-main -->
<br>